  
  
.Error {
    display: block;
    float: right;
    
 
}

.EditId {
    clear: both;
    font-weight: bold;
}

.EditCard label+input {    
    width: 150px;
}
.EditCard label { 
    display: block;
    float: left;
    width: 55px;
}

.EditCard {
    display: block;
  
    
}
.Error {
    color: red;
}
