  
.NameError {
    display: block;
    float: right;
    width: 150px;
 
}

.EditId {
    clear: both;
    font-weight: bold;
}

.EditCard input {
    d
    width: 150px;
}
.EditCard label { 
    display: block;
    float: left;
    width: 100px;
}

.EditCard {
    display: block;
    width: 425px;
}
